{% extends "base.html" %}
{% block container %}
<div class = "container">
<div class="row">
    <div class="card ml-5 mt-4" style="width: 18rem; height: 30rem">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <a href="/vacancies/1/" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>

  </div>
    </div>
<div class="card ml-5 mt-4" style="width: 40rem; height: 10rem">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <a href="/vacancies/1/" class="card-link">Some quick example text to build on the card title and make up the bulk of the card's content.</a>

  </div>
</div>
</div>
</div>


{% endblock%}